<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sqlCon" connectionString="Server=.;Database=FleetPandaAssessment;Trusted_Connection=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="sqliteCon" connectionString="Data Source=C:\Users\Dell\Documents\projects\FleetPandaAssessment\FleetPandaAssessment.sqlite" providerName="System.Data.SQLite" />
	</connectionStrings>
</configuration>